@import "_tree";

.tree-select {
  width: 100%;
  height: auto;
  line-height: 1.42857;
  color: #555;
  border: 1px solid #c2cad8;
  background-color: #fff;
  display: inline-block;
  outline: 0!important;
  box-shadow: none!important;
  position: relative;
  vertical-align: middle;
  cursor: pointer;

  > .tree-select-single{
    width: 100%;
    line-height: 1.44;
    padding-right: 25px;
    text-align: left;
    margin-bottom: 0;
    vertical-align: middle;
    touch-action: manipulation;
    border: none;
    background-color: #fff;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    outline: 0!important;

    &:hover {
      transition: all .3s;
      background-color: #e1e5ec;
    }
  }

  > .tree-select-multiple{
    max-width: 100%;
    line-height: 24px;
    padding: 4px 32px 2px 6px;
    vertical-align: middle;

    > .tree-select-tag {
      display: inline-block;
      background-color: #36c6d3;
      margin-right: 2px;
      margin-bottom: 2px;
      color: white;
      text-shadow: none!important;
      font-size: 14px;
      font-weight: 300;
      padding: 0px 6px;
    }
  }

  > .tree-select-dropdown{
    cursor: pointer;
    position: absolute;
    width: 100%;
    max-height: 0px;
    overflow: auto;
    min-height: 0px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: 1px;
    z-index: 1000!important;
    background-color: #fff;
    border: 1px solid #eee;
    transition: all .3s ease-in-out;

    > .tree {
      margin: 8px;
    }
  }

  > .tree-selec-allow{
    cursor: pointer;
    background-image: url("#{$image-path}32px.png");
    background-repeat:no-repeat;
    background-position: -64px -64px;
    width: 32px;
    height: 32px;
    position: absolute;
    top:0;
    right:0;
    transition: all .3s;
    transform:rotate(180deg);
  }

  &.tree-select-open{
    > .tree-selec-allow{
      transform:rotate(90deg);
    }
    > .tree-select-dropdown{
      max-height: 400px;
    }
  }
}
